* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --primary-white: #fff;
  --primary-orange: #f5b921;
  --primary-dark: #000;
  --primary-green: #21bd06;
  --primary-hover-green: #1e5215;
  --primary-hover-blue-dark: #231d5af8;
  
}